@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



:root{
    --primary-text-color:#183b56;
    --second-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:#1d69a3;

}
body{
    font-family: "poppins",sans-serif;
    color: var(--primary-text-color);
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-size: 1.25rem;
    font-family: "roboto","sans-serif";
    color: var(--second-text-color);
    line-height: 1.8rem;
}

a{
    text-decoration: none;
    display: inline-block;
}

.top-banner{
    background-color: #4fb3d4;
    background-image: url("/assets/asset_32.png");
    background-size: 300px;
}

.banner-text{
    font-size: 1rem;
    padding: 15px;
    text-align: center;
    color: white;
}

.container{
    max-width: 1180px;
    /* border: 1px solid red; */
    margin-inline: auto;
    overflow: hidden;
    padding-inline: var(--padding-inline-section);
    display: flex;
    flex-direction: row;
   
    
}

.flex{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}

.company-logo img{
    width: 200px;
}

.nav-links{
    flex-basis: 730px;
}

.main-nav{
    justify-content: space-between;
}

.nav-links ul{
    justify-content: end;
    gap: 40px;
}

.nav-link{
    text-transform: capitalize;
    color:var(var(--primary-text-color));
    padding-block: 10px;
    transition: 0.2s ease-out;
}

.nav-link:hover{
    color: var(--accent-color);
}

.primary-btn{
    background-color: var(--accent-color);
    color: white !important;
    padding: 12px 24px;
    border-radius: 6px;
    font-weight: 700;
    box-shadow: 0 0 2px var(--second-text-color);
}

.primary-btn:hover{
    background-color: var(--accent-color-dark);
}

.secondary-btn{
    border: 0.5px solid var(--second-text-color);
    border-radius: 6px;
    font-weight: 700;
    color: var(--primary-text-color);
    padding: 12px 24px;
}
.seconday-btn:hover{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}
/* header */
.section-gap{
    padding: 50px var(--padding-inline-section) 0;
}
.header-right img{
    width: 100%;
   
}
.header-left {
    flex-flow: column;
    width: 40vw;
    gap: 10px;
   align-items:start ;
   justify-content: center;
}